<!DOCTYPE html>
<html>
	<head>
		<title>Aggiungi Attori - SiW Movie</title>
		<meta th:replace="fragments/header.html :: metaFragment" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
		<link th:replace="fragments/bootstrap.html :: bsCss"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<h1 th:text="${movie.title}">Aggiungi attori al film -> Titolo Film</h1>
		<h2>Modifica attori</h2>
		<div>
			<div>
				<h4>Attori Inseriti</h4>
			</div>
			<div th:if="${movie.actors.size() == 0}"> Nessun attore inserito</div>
			<div th:each="actor:${movie.actors}">
				<span th:text="${actor.name}+' '+${actor.surname}+' '"></span>(<a th:href="@{'/admin/deleteActorFromMovie/'+${actor.id}+'/'+${movie.id}}">rimuovi attore</a>)
			</div>
		</div>
		<div>
			<div>
				<h4>Artisti Disponibili</h4>
			</div>
			<div th:if="${artists.size() == 0}"> Nessun artista disponibile</div>
			<div th:each="artist:${artists}">
				<span th:text="${artist.name}+' '+${artist.surname}+' '"></span>
				(<a th:href="@{'/admin/setActorToMovie/'+${artist.id}+'/'+${movie.id}}">aggiungi attore</a>)
			</div>
		</div>
		<div>
			<form method="GET" th:action="@{'/admin/formUpdateMovie/'+${movie.id}}">
				<input type="submit" value="Fine modifica">
			</form>
		</div>
		<div th:replace="fragments/bootstrap.html :: bsScript"></div>
	</body>
</html>