<!DOCTYPE html>
<html>
<head>
<title>Conferma eliminazione film - SiW Movie</title>
<meta th:replace="~{fragments/header.html :: metaFragment}" />
<link th:replace="~{fragments/header.html :: stylesheetFragment}" />
<link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
</head>
<body>
	<header th:replace="~{fragments/loginHeader.html :: headerLogin}"></header>
	<h1>Sei sicuro di voler eliminare questo film:</h1>
	<div>
		<span th:text="'Titolo: '+${movie.title}">Titolo Film</span> 
		<span>Anno:<span th:text="'('+${movie.year}+')'">2000</span></span> 
		<a th:href="'/admin/deleteMovie/'+${movie.id}">elimina</a>
	</div>
	<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>