<html>
	<head>
		<title>Aggiungi Regista</title>
		<meta th:replace="~{fragments/header.html :: metaFragment}" />
		<link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
		<link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
	</head>
	<body>
		<header th:replace="~{fragments/loginHeader.html :: headerLogin}"></header>
		<ul>
			<li th:each="artist:${artists}">
				<div>
					<a th:text="${artist.name}+' '+${artist.surname}" th:href="@{'/admin/setDirectorToMovie/'+${artist.id}+'/'+${movie.id}}">Nome Regista</a>
				</div>
			</li>
		</ul>
		<span th:if="${messaggioErrore}" th:text="${messaggioErrore}"></span>
		<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
	</body>
</html>