<!DOCTYPE html>
<html>
<head>
<title>Aggiorna film - SiW Movie</title>
<meta th:replace="~{fragments/header.html :: metaFragment}" />
<link th:replace="~{fragments/header.html :: stylesheetFragment}" />
<link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
</head>
<body>
	<header th:replace="~{fragments/loginHeader.html :: headerLogin}"></header>
	<div>
		<h1 th:text="${movie.title} +' '+'('+${movie.year}+')'">Titolo Film</h1>
		<form method="POST" th:action="@{'/admin/updateMovieDetails/'+${movie.id}}">
			<div>
				<label>Modifica nome</label> <input type="text" th:field="${movie.title}" required></input>
			</div>
			<div>
				<label>Modifica anno</label> <input type="number" th:field=${movie.year} min="1890"  required></input>
			</div>
			<span>
				<button type="submit">Conferma</button>
			</span>
		</form>
	</div>
	<div th:each="img : ${movie.pictures}">
		<!-- Immagine-->
		<img th:src="'data:image/jpeg;base64,'+${img.getImgData()}"></img>
		<a th:if="${movie.pictures.size()>1}" th:href="'/admin/deletePhoto/'+${movie.id}+'/'+${img.id}"> Rimuovi foto </a>
	</div>
	<div>
		<form th:action="@{'/admin/uploadPhoto/'+${movie.id}}" method="POST"
			enctype="multipart/form-data">
			<div>
				<label>Aggiungi immagini<input type="file" name="file" multiple></input></label>
			</div>
			<div>
				<span><button type="submit">Carica immagini</button></span>
			</div>
		</form>
	</div>
	<div>
		<h3>
			Regista (<a th:href="@{'/admin/addDirectorToMovie/'+${movie.id}}">modifica
				regista</a>)
		</h3>
		<span th:if="${movie.director}"> <a
			th:href="@{'/artists/'+${movie.director.id}}"
			th:text="${movie.director.name}+' '+${movie.director.surname}"></a>
		</span>
	</div>
	<div>
		<h3>
			Attori (<a th:href="@{'/admin/updateActorsOfMovie/'+${movie.id}}">modifica
				attori</a>)
		</h3>
		<div th:each="actor:${movie.actors}">
			<a th:href="@{'/artists/'+${actor.id}}"
				th:text="${actor.name}+' '+${actor.surname}"></a>
		</div>
	</div>
	<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>