<!DOCTYPE html>
<html>
<head>
<title>Aggiungi Artista</title>
<meta th:replace="~{fragments/header.html :: metaFragment}" />
<link th:replace="~{fragments/header.html :: stylesheetFragment}" />
<link th:replace="~{fragments/bootstrap.html :: bsCss}" />
<style>
label {
	white-space: nowrap;
}
</style>
</head>
<body>
	<header th:replace="~{fragments/loginHeader.html :: headerLogin}"></header>
	<div class="container">
		<h1 class="text-center">Inserisci nuovo artista</h1>
		<form th:action="@{/admin/artists}" method="POST"
			th:object="${artist}" enctype="multipart/form-data">
			<div th:if="${#fields.hasGlobalErrors()}" class="text-danger">
				<p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
			</div>
			<div class="mb-3">
				<input required type="text" class="form-control" placeholder="Nome"
					th:field="*{name}" /> <span th:if="${#fields.hasErrors('name')}"
					class="text-danger" th:errors="*{name}"></span>
			</div>
			<div class="mb-3">
				<input required type="text" placeholder="Cognome"
					class="form-control" th:field="*{surname}" /> <span
					th:if="${#fields.hasErrors('surname')}" class="text-danger"
					th:errors="*{surname}"></span>
			</div>
			<div class="mb-3">
				<label>Data nascita</label> <input required type="date"
					class="form-control" th:field="*{birthDate}" /> <span
					th:if="${#fields.hasErrors('birthDate')}" class="text-danger"
					th:errors="*{birthDate}"></span>
			</div>
			<div class="mb-3">
				<label>Data morte (opzionale)</label> <input type="date"
					class="form-control" th:field="*{deceasedDate}" /> <span
					th:if="${#fields.hasErrors('deceasedDate')}" class="text-danger"
					th:errors="*{deceasedDate}"></span>
			</div>
			<div class="mb-3">
				<label>Immagine</label> <input type="file" name="file"
					class="form-control-file" />
			</div>
			<div class="text-center mt-3">
				<button type="submit" class="btn btn-primary">Conferma</button>
			</div>
		</form>
	</div>
	<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>
