<!DOCTYPE html>
<html>
	<head>
		<title>Aggiungi Artista</title>
		<meta charset="UTF-8" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<a href="/"><img src="/images/logo-siw.png" width=30%/></a>
		</div>
		<h1>
			Inserisci nuovo artista
		</h1>
		<div>
			<form th:action="@{/artists}" th:method="POST" th:object="${artist}" enctype="multipart/form-data">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err:${#fields.globalErrors()}" th:text="${err}"></span>
				</div>
				<div>
					<span>Nome<input required type="text" th:field="${artist.name}"></input></span>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				<div>
					<span>Cognome<input required type="text" th:field="${artist.surname}"></input></span>
					<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
				</div>
				<div>
					<span>Data nascita<input required type="date" th:field="${artist.birthDate}"></input></span>
					<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
				</div>
				<div>
					<span>Data morte (opzionale)<input type="date" th:field="${artist.deceasedDate}"></input></span>
					<span th:if="${#fields.hasErrors('deceasedDate')}" th:errors="*{deceasedDate}"></span>
				</div>
				<div>
					<span>Immagine<input type="file" name="file" multiple></input></span>
				</div>
				<div>
					<button type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</body>
</html>