<!DOCTYPE html>
<html>
<head>
<title>Aggiorna artista - SiW Movie</title>
<meta th:replace="fragments/header.html :: metaFragment" />
<link th:replace="fragments/header.html :: stylesheetFragment" />
</head>
<body>
	<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
	<div>
		<a href="/"><img src="/images/logo-siw.png" width=30% /></a>
	</div>
	<div>
		<h1 th:text="${artist.name}+' '+${artist.surname}"></h1>
	</div>
	<div>
		<span>Modifica informazioni artista</span>
		<form th:action="@{'/admin/updateArtistDetails/'+${artist.id}}" method="POST">
			<label>Modifica nome</label>
			<input th:placeholder="${artist.name}" name = "artistName"/> <br>
			<label>Modifica cognome</label>
			<input th:value="${artist.surname}" name = "artistSurname"/> <br>
			<label>Modifica data di nascita</label>
			<input th:value="${artist.birthDate}" type="date" name="birthDate"/> <br>
			<label>Modifica data di morte</label>
			<input th:value="${artist.deceasedDate}" type="date" name="deceasedDate" /> <br>
			<button type="submit">Conferma</button>
		</form>
	</div>
</body>
</html>