<!DOCTYPE html>
<html>
	<head>
		<title> Movie - SiW Movie</title>
		<meta charset="UTF-8" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<a href="/"><img src="/images/logo-siw.png" width=30%/></a>
		</div>

			<div>
				<h1 th:text="${movie.title}">Titolo Film</h1>
			</div>
			<div>
				<span>Anno: <span th:text="'('+${movie.year}+')'">2000</span></span>
			</div>
			<div>
				<form th:action="@{'/admin/uploadPhoto/'+${movie.id}}" method="POST" enctype="multipart/form-data">
					<div>
						<span>Immagine<input type="file" name="file" multiple></input></span>
					</div>
					<div>
						<span><button type="submit">Conferma</button></span>
					</div>
				</form>
			</div>
			<div th:each="img : ${movie.pictures}">
				<!-- Immagine-->
				<img th:src="'data:image/jpeg;base64,'+${img.getImgData()}"></img>
			</div>
			<div>
				<h3>Regista (<a th:href="@{'/admin/addDirectorToMovie/'+${movie.id}}">modifica regista</a>)</h3>
			<span th:if="${movie.director}">
				<a th:href="@{'/artists/'+${movie.director.id}}" th:text="${movie.director.name}+' '+${movie.director.surname}"></a>
			</span>
			</div>
			<div>
				<h3>Attori (<a th:href="@{'/admin/updateActorsOfMovie/'+${movie.id}}">modifica attori</a>)</h3>
				<div th:each="actor:${movie.actors}">
					<a th:href="@{'/artists/'+${actor.id}}" th:text="${actor.name}+' '+${actor.surname}"></a>
				</div>
			</div>
		</div>
	</body>
</html>