<!DOCTYPE html>
<html>
	<head>
		<title>Aggiungi Artista</title>
		<meta th:replace="fragments/header.html :: metaFragment" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<a href="/"><img src="/images/logo-siw.png" width=30%/></a>
		</div>
		<h1>
			Inserisci nuovo artista
		</h1>
		<div>
			<form th:action="@{/admin/artists}" th:method="POST" th:object="${artist}" enctype="multipart/form-data">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err:${#fields.globalErrors()}" th:text="${err}"></span>
				</div>
				<div>
					<label>Nome</label><input required type="text" th:field="${artist.name}"></input>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				<div>
					<label>Cognome</label><input required type="text" th:field="${artist.surname}"></input>
					<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
				</div>
				<div>
					<label>Data nascita</label><input required type="date" th:field="${artist.birthDate}"></input>
					<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
				</div>
				<div>
					<label>Data morte (opzionale)</label><input type="date" th:field="${artist.deceasedDate}"></input>
					<span th:if="${#fields.hasErrors('deceasedDate')}" th:errors="*{deceasedDate}"></span>
				</div>
				<div>
					<label>Immagine</label><input type="file" name="file" multiple></input>
				</div>
				<div>
					<button type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</body>
</html>