<!DOCTYPE html>
<html>
	<head>
		<title>Inserisci Film - SiW Movie</title>
		<meta th:replace="fragments/header.html :: metaFragment" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<a href="/"><img src="/images/logo-siw.png" width=30%/></a>
		</div>
		<div>
			<h1>
				Aggiungi nuovo film
			</h1>
			<form th:action="@{/admin/movies}" method="POST" th:object="${movie}" enctype="multipart/form-data">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err:${#fields.globalErrors()}" th:text="${err}"></span>
				</div>
				<div>
					<span>Titolo<input required type="text" th:field="*{title}"></input></span>
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				</div>
				<div>
					<span>Anno<input required type="text" th:field="*{year}"></input></span>
					<span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
				</div>
				<div>
					<span>Immagine<input type="file" name="file" multiple></input></span>
				</div>
				<div>
					<span><button type="submit">Conferma</button></span>
				</div>
			</form>
		</div>
	</body>
</html>