<!DOCTYPE html>
<html>
	<head>
		<title>Gestione Film - SiW Movie</title>
		<meta th:replace="~{fragments/header.html :: metaFragment}" />
		<link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
		<link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
	</head>
	<body>
		<header th:replace="~{fragments/loginHeader.html :: headerLogin}"></header>
		<h1>
			Operazioni Film
		</h1>
		<div>
			<a href="/movies">Vedi film</a>
		</div>
		<div>
			<a href="/admin/formNewMovie">Inserisci nuovo film</a>
		</div>
		<div>
			<a href="/admin/moviesToDeleteIndex">Cancella un film esistente</a>
		</div>
		<div>
			<a href="/admin/manageMovies">Modifica informazioni film</a>
		</div>
		<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
	</body>
</html>