<!DOCTYPE html>
<html>
	<head>
		<title>Gestione Film - SiW Movie</title>
		<meta charset="UTF-8" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<a href="/"><img src="/images/logo-siw.png" width=30%/></a>
		</div>
		<h1>
			Operazioni Film
		</h1>
		<div>
			<a href="/admin/formNewMovie">Inserisci nuovo film</a>
		</div>
		<div>
			<a href="/admin/manageMovies">Gestisci film</a>
		</div>
	</body>
</html>