<!DOCTYPE html>
<html>
<head>
<title>Lista Film - SiW Movie</title>
<meta th:replace="fragments/header.html :: metaFragment" />
<link th:replace="fragments/header.html :: stylesheetFragment" />
<link th:replace="fragments/bootstrap.html :: bsCss"/>
</head>
<body>
	<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
	<h1>Seleziona film da modificare</h1>
	<div th:if="${movies.isEmpty()}">Non ci sono film nel sistema</div>
	<div>
		<ul>
			<li th:each="movie:${movies}">
				<div>
					<a th:href="@{'/admin/formUpdateMovie/'+${movie.id}}"
						th:text="${movie.title}"></a>
				</div>
			</li>
		</ul>
	</div>
	<div th:replace="fragments/bootstrap.html :: bsScript"></div>
</body>
</html>