<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles(title)">
		<meta charset="UTF-8" />
		<link th:href="@{/css/stylesheet.css?version=2}" rel="stylesheet">
	</head>
	<body>
		<header th:fragment="headerLogin">
			<div th:if="${userDetails}">
				<a th:href="'/users/'+${credentials.getUser().getId()}" th:text="${userDetails.username}"></a>
				<a href="/logout">Logout</a>
			</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
		</header>
		<footer th:fragment="footer">
			<a th:href="@{/}">Home</a>
		</footer>
	</body>
</html>