body {
	font-family: "Geneva";
	color: dimgrey;
}

a {
	text-decoration: none;
	color: darkgrey;
}

a:hover {
	text-decoration: underline;
}

label {
	width: 4em;
	display: inline-block;
}

.navbar-brand {
	max-width: 280px;
	display: flex;
	align-items: center;
}

.navbar-brand img {
	max-width: 100%;
	height: auto;
}

.review{
	background-color: rgb(230, 230, 230);
	margin-bottom: 2%;
	color: black;
	border-radius: 10px;
}

.roundedCorner{
	border-radius: 10px;
}

.graybackground{
	background-color: rgb(230, 230, 230);
}

.img-container {
    max-height: 225px; /* Altezza massima desiderata */
    min-height: 225px; /*ho trovato il fix daje tutto forza*/
    overflow: hidden; /* Nasconde eventuali parti dell'immagine che superano il container */
    display: flex; /* Utilizza un layout flessibile */
    justify-content: center; /* Centra l'immagine sia verticalmente che orizzontalmente */
    align-items: center;
  }

.image-container-img {
    max-height: 100%; /* Occupa al massimo l'altezza del container */
    max-width: 100%; /* Occupa al massimo la larghezza del container */
    display: inline-block; /* Assicura il corretto layout dell'immagine */
    vertical-align: middle; /* Centra l'immagine verticalmente */
}