<!DOCTYPE html>
<html>

<head>
	<title>Artista - SiW Movie</title>
	<meta th:replace="~{fragments/header.html :: metaFragment}" />
	<link th:replace="~{fragments/header.html :: stylesheetFragment}" />
	<link th:replace="~{fragments/bootstrap.html :: bsCss}" />
</head>

<body>
	<header th:replace="~{fragments/loginHeader.html :: headerLogin}"></header>
	<div class="container display: flex;justify-content: center; align-items: center;">
		<div class="row">
			<div class="col text-center">
				<div class="mt-3 mb-4">
					<h1 th:text="${artist.name}+' '+${artist.surname}"></h1>
				</div>
				<div th:if="${artist.picture}" class="mt-2 mb-5">
					<!-- Immagine-->
					<img th:src="'data:image/jpeg;base64,'+${artist.picture.getImgData()}"
						class="d-block w-100 roundedCorner graybackground" style="object-fit: contain;height: 50rem;" width="100">
				</div>
			</div>
			<div class="col h-50">
				<div>
					<h3 th:text="'Nato il '+${artist.birthDateToString()}"></h3>
				</div>
			</div>
			<div class="col h-50" th:if="${artist.deceasedDate!=null}">
				<div>
					<h3 th:text="'Deceduto il '+${artist.birthDateToString()}"></h3>
				</div>
			</div>
		</div>
		<div class="row mb-5 justify-content-center">
			<div th:if=${artist.listaFilmRecitati.size()!=0} class="col-sm-5 mb-2 roundedCorner graybackground">
				<h2>Film in cui ha recitato</h2>
				<div th:each="movie : ${artist.listaFilmRecitati}">
					<a th:href="@{'/movies/'+${movie.id}}" th:text="${movie.title}"></a>
				</div>
			</div>
			<div th:if=${artist.listaFilmDiretti.size()!=0} class="col-sm-5 mb-2 roundedCorner graybackground offset-sm-1">
				<h2>Film che ha diretto</h2>
				<div th:each="movie : ${artist.listaFilmDiretti}">
					<a th:href="@{'/movies/'+${movie.id}}" th:text="${movie.title}"></a>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>

</html>