<!DOCTYPE html>
<html>
	<head>
		<title>Artista - SiW Movie</title>
		<meta th:replace="fragments/header.html :: metaFragment" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
		<link th:replace="fragments/bootstrap.html :: bsCss"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<h1>
			Artista
		</h1>
		<div>
			<span th:text="${artist.name}+' '+${artist.surname}"></span>
		</div>
		<div th:if=${artist.listaFilmRecitati.size()!=0}>
			<h2>Film in cui ha recitato</h2>
			<div th:each="movie : ${artist.listaFilmRecitati}">
				<a th:href="@{'/movies/'+${movie.id}}" th:text="${movie.title}"></a>
			</div>
		</div>
		<div th:if=${artist.listaFilmDiretti.size()!=0}>
			<h2>Film che ha diretto</h2>
			<div th:each="movie : ${artist.listaFilmDiretti}">
				<a th:href="@{'/movies/'+${movie.id}}" th:text="${movie.title}"></a>
			</div>
		</div>
		<div th:if="${artist.picture}">
				<!-- Immagine-->
				<img th:src="'data:image/jpeg;base64,'+${artist.picture.getImgData()}"></img>
		</div>
		<div th:replace="fragments/bootstrap.html :: bsScript"></div>
	</body>
</html>