<!DOCTYPE html>
<html>
	<head>
		<title>Lista Artisti - SiW Movie</title>
		<meta th:replace="fragments/header.html :: metaFragment" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
		<link th:replace="fragments/bootstrap.html :: bsCss"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<h1>Lista artisti</h1>
		<div th:if="${artists.size()<=0}">
			<span>Non ci sono artisti</span>
		</div>
		<div>
			<ul>
				<li th:each="artist:${artists}">
					<a th:href="@{'/artists/'+${artist.id}}" th:text="${artist.name}+' '+${artist.surname}">Nome Cognome artista</a>
				</li>
			</ul>
		</div>
		<div th:replace="fragments/bootstrap.html :: bsScript"></div>
	</body>
</html>