<!DOCTYPE html>
<html>
	<head>
		<title>Film Cercato - SiW Movie</title>
		<meta th:replace="fragments/header.html :: metaFragment" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
		<link th:replace="fragments/bootstrap.html :: bsCss"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<h1><span>Film trovati</span></h1>
		</div>
		<div th:if="${movies.isEmpty()}"> Non ci sono film che soddisfano i requisiti </div>
		<div th:if="${!movies.isEmpty()}">
			<ul>
				<li th:each="movie:${movies}">
					<a href="movie.html" th:href="@{'/movies'+'/'+${movie.id}}" 
					th:text="${movie.title}+' ('+${movie.year}+')'">FilmGenerico (2077)</a>
				</li>
			</ul>
		</div>
		<div th:replace="fragments/bootstrap.html :: bsScript"></div>
	</body>
</html>