<!DOCTYPE html>
<html>
<head>
<title>Homepage - SiW Movie</title>
<meta th:replace="~{fragments/header.html :: metaFragment}"/>
<link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
<link th:replace="~{fragments/bootstrap.html :: bsCss}" />
</head>
<body>
	<header th:replace="~{fragments/loginHeader.html :: headerLogin}"></header>
	<div class="container justify-content-center text-center">
		<h1 class="mb-4 mt-2">Esplora Archivio</h1>
		<div class="row justify-content-center">
			<div class="col-md-4 mb-4">
				<div class="card box-shadow">
					<a href="/movies" class="btn btn-primary btn-lg"> <span
						class="text-black"> Esplora i film </span>
					</a>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card box-shadow">
					<a href="/artists" class=" btn btn-primary btn-lg"> <span
						class="text-black"> Vedi gli artisti </span>
					</a>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card box-shadow">
					<a href="/formSearchMovies" class="btn btn-primary btn-lg "> <span
						class="text-black"> Cerca film per anno </span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div th:if="${credentials}">
			<div th:if="${credentials.isAdmin()}">
				<h1 class="mb-4 mt-2">Operazioni Amministratore</h1>
				<div class="row justify-content-center">
					<div class="col-md-5 mb-4">
						<div class="card box-shadow">
							<a href="/admin/indexMovie" class="btn btn-primary btn-lg">
								Operazioni sui film</a>
						</div>
					</div>
					<div class="col-md-5 mb-4">
						<div class="card box-shadow">
							<a href="/admin/indexArtist" class="btn btn-primary btn-lg">
								Operazioni sugli artisti</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>