<!DOCTYPE html>
<html>
	<head>
		<title>Homepage - SiW Movie</title>
		<meta charset="UTF-8" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<a href="/"><img th:src="@{/images/logo-siw.png}" width=30%/></a>
		</div>
		<div>
			<h1>Esplora archivio</h1>
		</div>
		<div>
			<a href="/movies">Esplora i film</a>
		</div>
		<div>
			<a href="/artists">Vedi gli artisti</a>
		</div>
		<div>
			<a href="/formSearchMovies">Cerca film per anno</a>
		</div>
		<div th:if="${credentials}">
			<div th:if="${!credentials.isGuest()}">
				<h1>Operazioni Utente</h1>
				<div>
					<a href="/user/updateReview"> Modifica recensione</a>
				</div>
				<div>
					<a href="/user/formNewReview"> Scrivi recensione</a>
				</div>
			</div>
			<div th:if="${credentials.isAdmin()}">
				<h1>Operazioni Amministratore</h1>
				<div>
					<a href="/admin/indexMovie"> Operazioni sui film</a>
				</div>
				<div>
					<a href="/admin/indexArtist"> Operazioni sugli artisti</a>
				</div>
			</div>
		</div>
	</body>
</html>