<!DOCTYPE html>
<html>
	<head>
		<title>Homepage - SiW Movie</title>
		<link rel="stylesheet" href="/stylesheet.css?version=2"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<a href="/"><img th:src="@{/logo-siw.png}" width=30%/></a>
		</div>
		<div>
			<h1>Esplora archivio</h1>
		</div>
		<div>
			<a href="/movies">Esplora i film</a>
		</div>
		<div>
			<a href="/artists">Vedi gli artisti</a>
		</div>
	</body>
</html>