<!DOCTYPE html>
<html>
	<head>
		<title> Movie - SiW Movie</title>
		<meta charset="UTF-8" />
		<link th:replace="fragments/header.html :: stylesheetFragment"/>
	</head>
	<body>
		<header th:replace="fragments/loginHeader.html :: headerLogin"></header>
		<div>
			<a href="/"><img src="/images/logo-siw.png" width=30%/></a>
		</div>
		<div th:if="${movie}">
			<div>
				<h1 th:text="${movie.title}">Titolo Film</h1>
			</div>
			<div th:if="${movie.areThereAnyReviews()}">
				<h2 th:text="'Valutazione media: '+${movie.getAverageVote()}">Valutazione media: 4.5</h2>
			</div>
			<div th:unless="${movie.areThereAnyReviews()}">
				<h2>Valutazione media: nessuna recensione</h2>
			</div>
			<div>
				<span>Anno: <span th:text="'('+${movie.year}+')'">2000</span></span>
			</div>
				<span>Regista: <br> <span th:if="${movie.director}" th:text="${movie.director.name}+' '+${movie.director.surname}">Cristopher Nolan</span></span>
			</div>
			<div>
				Attori: 
				<div th:each="actor:${movie.actors}">
					<span th:text="${actor.name}+' '+${actor.surname}"></span>
				</div>
			</div>
			<div th:each="img : ${movie.pictures}">
				<!-- Immagine-->
				<img th:src="'data:image;base64,'+${img.getImgData()}"></img>
			</div>
			<div th:if="${credentials}">
				<div th:if="${!credentials.isGuest()}">
				<h3>Scrivi una recensione</h3>
				<div>
					<form th:action="@{'/user/newReview/'+${movie.id}+'/'+${credentials.getUser().id}}" th:object="${review}" method="POST">
						<div>
							<label>Titolo</label> <input type="text" required th:field="${review.title}"/>
						</div>
						<div>
							<label>Valutazione</label> <input type="number" required th:field="${review.vote}"/>
						</div>
						<div>
							<label>Testo</label> <input type="text" th:field="${review.text}"/>
						</div>
						<div>
							<span><button type="submit">Conferma</button></span>
						</div>
					</form>
				</div>
			</div>
			</div>
			<div>
				<h2>Recensioni</h2>
				<div th:if="${movie.areThereAnyReviews()}">
					<div th:each = "review : ${movie.reviews}">
						<span><a th:href="'/users/'+${review.author.id}" th:text="'Autore: '+${review.author.name}+' '+${review.author.surname}"/></span><br>
						<a th:href="'/reviews/'+${review.id}">
							<span th:text="'Titolo: '+${review.title}"></span><br>
							<span th:text="'Voto: '+${review.vote}"></span><br>
							<span th:text="'Testo: '+${review.text}"></span><br>
						</a>
					</div>
				</div>
				<div th:unless="${movie.areThereAnyReviews()}">
					<span>Non esistono recensioni per questo film</span>
				</div>
			</div>
		</div>
		<div th:unless="${movie}">Non esiste</div>
	</body>
</html>